@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');


@keyframes colorchange{
    0%{
        background-color: red;
        box-shadow: 0px 0px 10px red;
    }
    33.3%{
        background-color: green;
        box-shadow: 0px 0px 20px green;
    }
    66.6%{
        background-color: blue;
        box-shadow: 0px 0px 30px blue;
    }
    100%{
        background-color: red;
        box-shadow: 0px 0px 10px red;
    }
}

body{
    background-color: black;
}
.container1 {
    background-color: black;
    width: 100vw;
    height: 500px;
}


/* NAVBAR CSS */

.navbar {
    width: 100vw;
    height: 70px;
    background-color: #DB005B;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0px;
    z-index: 2;
    -webkit-box-shadow: 0px 2px 14px 0px rgba(28,5,28,1);
    -moz-box-shadow: 0px 2px 14px 0px rgba(28,5,28,1);
    box-shadow: 0px 2px 14px 0px rgba(28,5,28,1);
}





.navbar>a,
h1 {
    text-decoration: none;
    color: white;
}

.navbar>a,
i,
input {
    margin-left: 70px;
    font-family: 'Kanit';
}

.navbar>input {
    border-radius: 3rem;
    border: 2px solid white;
    background-color: transparent;
    width: 230px;
    height: 25px;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle>h1 {
    font-size: 130%;
    font-family: 'Oswald';
    color: #DB005B;
}

.navbar>a:hover,
input:hover,
.circle:hover>h1 {
    color: black;
}



.navbar>.circle:hover {
    border: 2px solid black;
    background-color: transparent;

}

.navbar>input:hover,
input:active {
    border: #A5D7E8 2px solid;
}

.navbar>input {
    text-align: center;
}


/* IMAGECONTAINER1 CSS */

.image-container1 {
    width: 100vw;
    height: 430px;
    background-image: url(https://images.unsplash.com/photo-1538388149542-5e24932d11a8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80);
    background-repeat: no-repeat;
    background-size: contain;
}

.subcontainer1{
    position: absolute;
    left: 600px;
    top:25px;

}

.subcontainer1>h1{
    font-size: 70px;
    font-family: 'Oswald';
}

.subcontainer1>#vr{
    width: 101%;
    background-color: #DB005B;
    padding-left: 5px;
    color: black;
    border-radius: 0.3rem;
}

.btn-1{
    position: absolute;
    width: 180px;
    height: 70px;
    border-radius: 3rem;
    font-family: 'Kanit';
    
}

#discover{
    left:700px;
    top:100px;
    background-color:#DB005B;
}

#buy{
    left:700px;
    top:300px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}

#discover:hover{
    border:2px solid white;
    background-color: transparent;
    color: white;
}

#buy:hover{
    background-color: #DB005B;
    border: none;
    color: black;
}

/* CONTAINER2 CSS */

.container2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    width: 100vw;
    height: 300px;
    background-color: black;
    top:30px;
    
}

.container2>.sub1{
    background-color: rgba(255, 255, 255, 0.057);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 70px;
    transition: ease-in 100ms;

    
}

.container2>.sub1:hover{
    background-color:  #A5D7E8;
    
}

.container2>.sub1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 i{
    margin-right: 70px;
}

/* CONTAINER3 CSS */

.container3{
    width: 100vw;
    height: 500px;
    background-color:black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subcontainer2 h1{
    color: white;
    font-family: 'Helvetica';
    font-size: 70px;
}

.subcontainer2>h1:hover{
    color: #A5D7E8;
}
#c1,#c2,#c3{
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}

#c1{
    width: 100px;
    height: 100px;
    background-color:white;
    top:770px;
    left:1050px;
    animation: colorchange 5s ease-in-out 0s infinite ;

}


#c2{
    background-color: white;
    width: 200px;
    height: 200px;
    left:-80px;
    animation: colorchange 5s ease-in-out 1s infinite ;

}

#c3{
    background-color: white;
    width: 250px;
    height: 250px;
    top:1000px;
    right: 50px;
    animation: colorchange 5s ease-in-out 2s infinite ;

}

select{
    margin-top: 20px;
    width: 450px;
    height: 50px;
    border-radius: 3rem;
    border: 3px solid #DB005B;
    background-color: #DB005B;
    color: black;
    font-weight: bold;
    text-indent: 25px;
    transition: 300ms ease-in-out;
    
}

select:focus{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

option{
    background-color: #DB005B;
    color: black;
    font-weight: bold;
    border: none;
    margin-top: 20px;
}

#j{
    color: #DB005B;
    position: absolute;
    top:630px;
    left:420px;
    transform: rotate(15deg);
    font-size: 150px;
    font-family: 'Helvetica';
}

/* CONTAINER4 CSS */

.container4{
    width: 100vw;
    height:700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container4>.box>img{
    width: 300px;
    height: 400px;
    border-radius: 1rem;
}

.box{
    position: relative;
    width: 300px;
    height: 400px;
    transition: 100ms ease-in-out;
    margin-left: 20px;
}

.box:hover{
    transform: scale(108%);
    margin: 30px;
    
}


/* CONATAINER5 CSS */

.container5{
    display: flex;
    align-items: center;

}

.container5>.textb>h1{
    font-family: 'Oswald';
    font-size: 100px;
    margin-left: 150px;
  background: #ff7300; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff7300, #34cd32); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff7300, #34cd32); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}

.container5>img{

    transform: scale(100%);
}

/* CONTAINER 6 CSS */


.container6{
    width: 100vw;
    height:700px;
    display: flex;
    flex-direction: row;
    align-items: center;    

}

.b1{
    margin-left: 50px;
    background-color: white;
    border: 2px solid black;
    height:300px ;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 13px 13px white;
}

.b1 h1{
    font-family: 'Kanit';
    color: black;
    font-size: 90px;
}
video{
    width: 600px;
    height: 500px;
}
.vid{
    margin-left: 300px;
}